<?php
include ('./header.html');
?>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                管理首页
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">管理后台</a>
                </li>
                <li class="active"> 管理首页 </li>
            </ul>
        </div>
        <!-- page heading end-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            XXX列表
                            <span class="tools pull-right">
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>电话</th>
                                        <th>预约美发师工号</th>
                                        <th>备注</th>
                                        <th>预约日期</th>
                                        <th>预约状态</th>

                                        <th>回复信息</th><th>修改预约状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach($rows as $row):?>
                                    <tr class="gradeX">
                                        <?php
if($row['status']==2){
$row['status']='预约失败';}
elseif($row['status']==1){
$row['status']='预约成功';}
else{
$row['status']='没处理';}
?>
                                        <td><?php echo $row['realname'];?></td>
                                        <td><?php echo $row['phone'];?></td>
                                        <td><?php echo $row['barber'];?></td>
                                        <td><?php echo $row['content'];?></td>
                                        <td><?php echo date('Y-m-d',$row['date']);?></td>
                                        <td><?php echo $row['status'];?></td>
                                        <td><?php echo $row['reply'];?></td>
                                        <td><a href="index.php?p=Admin&c=Order&a=can_order&id=<?php echo $row['order_id'];?>">可以预约</a>
                                            <a href="index.php?p=Admin&c=Order&a=no_order&id=<?php echo $row['order_id'];?>">不能预约</a></td>
                                        <td>
                                            <a href="index.php?p=Admin&c=Order&a=reply&id=<?php echo $row['order_id'];?>">回复</a>
                                        </td>
                                    </tr>
                                    <?php endForeach;?>
                                    </tbody>
                                </table>
                            </div>
                            <div id="adv-table">
                                总计  <span id="totalRecords"><?php echo $count;?></span>个记录分为 <span id="totalPages"><?php echo $totalPage;?></span>页当前第 <span id="pageCurrent"><?php echo $page;?></span>
                                页，每页 <input type="text" size="3" id="pageSize" value="<?php echo $pageSize;?>" onkeypress="return listTable.changePageSize(event)">
                                <span id="page-link">
                            <a href="index.php?p=Admin&c=Order&a=lists&page=1">第一页</a>
                            <a href="index.php?p=Admin&c=Order&a=lists&page=<?php echo ($page-1)>0?($page-1):1; ?>">上一页</a>
                            <a href="index.php?p=Admin&c=Order&a=lists&page=<?php echo ($page+1)>$totalPage?$totalPage:($page+1); ?>">下一页</a>
                            <a href="index.php?p=Admin&c=Order&a=lists&page=<?php echo $totalPage;?>">最末页</a>
                        </span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="./Public/Admin/js/jquery-1.10.2.min.js"></script>
<script src="./Public/Admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="./Public/Admin/js/bootstrap.min.js"></script>
<script src="./Public/Admin/js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="./Public/Admin/js/scripts.js"></script>

</body>
</html>
