<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>丝华帝国</title>
    <link rel="stylesheet" href="./Public/Home/css/style.css" type="text/css">
    <link href="./Public/Home/css/bootstrap.min.css" rel="stylesheet">
    <link href="./Public/Home/css/signin.css" rel="stylesheet">
    <script type="text/javascript" src="./Public/Home/js/homeIndex.js"></script>
    <link href="./Public/Home/css/index.css" rel="stylesheet" type="text/css">
    <script src="./Public/Home/js/jquery.min.js"></script>
</head>
<body>
<div id="header">
    <div>
        <div id="logo">
            <a href="index.html"><img id="logoImg" src="./Public/Home/images/logo.png" alt="LOGO"></a>
        </div>
        <ul id="navigation">
            <li >
                <a href="index.php?p=Home&c=Index&a=index">主页</a>
            </li>
            <li >
                <a href="index.php?p=Home&c=Service&a=services">积分商城</a>
            </li>
            <li class="selected">
                <a href="index.php?p=Home&c=Order&a=about">会员专区</a>
            </li>
            <li>
                <p id="memberLogin">管理员登录</p>
            </li>
            <li>
                <p id="userLogin">会员登录</p>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="signin" id="memberLoginFormSignIn">
    <div class="signin-head" id="signin-head"><img id="loginImg" src="./Public/Home/images/test/timg1.jpg" alt="" class="img-circle"></div>
    <form class="form-signin" method="post" id="form-signin" role="form" action="index.php?p=Home&c=Login&a=check">
        <input name="username" type="text" class="form-control" placeholder="用户" required autofocus />
        <input name="password" type="password" class="form-control" placeholder="密码" required />
        <table>
            <tr>
                <td>
                    <input name="captcha" type="text" class="form-control" placeholder="验证码" required autofocus />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <img src="index.php?p=Home&c=Captcha&a=index" onclick="this.src='index.php?p=Home&c=Captcha&a=index&rand='+Math.random()" width="300px" height="30" title="看不清?点我换一个验证码" />
                </td>
            </tr>
        </table>
        <button class="btn btn-lg btn-warning btn-block" type="submit">管理员登录</button>
        <label class="checkbox">
            <input name="remember" type="checkbox" value="remember-me"> 记住我
        </label>
    </form>
    <i class="closeMemberLogoinForm" id="closeMemberLogoinForm">×</i>
</div>
<!--此处为会员登录框-->
<div class="signin" id="userLoginFormSignIn">
    <div class="signin-head"><img id="userloginImg" src="./Public/Home/images/test/timg1.jpg" alt="" class="img-circle"></div>
    <form class="form-signin" method="post" name="users" id="form-usersignin" role="form" action="index.php?p=Home&c=Login&a=User_check">
        <input name="username" type="text" class="form-control" placeholder="用户" required autofocus />
        <input name="password" type="password" class="form-control" placeholder="密码" required />
        <table>
            <tr>
                <td>
                    <input name="captcha" type="text" class="form-control" placeholder="验证码" required autofocus />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <img src="index.php?p=Home&c=Captcha&a=index" onclick="this.src='index.php?p=Home&c=Captcha&a=index&rand='+Math.random()" width="300px" height="30" title="看不清?点我换一个验证码" />
                </td>
            </tr>
        </table>
        <button class="btn btn-lg btn-warning btn-block" type="submit">会员登录</button>
        <label class="checkbox">
            <input name="remember" type="checkbox" value="remember-me"> 记住我
        </label>
    </form>
    <i class="closeMemberLogoinForm" id="closeUserLogoinForm">×</i>
</div>
<div id="contents">
    <div id="about">
        <h1>会员专区</h1>

        <!--body wrapper start-->
        <section class="wrapper">
            <!-- page start-->

            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                           添加预约
                        </header>
                        <div class="panel-body">
                            <form role="form" action="index.php?p=Home&c=Order&a=add" method="post">
                                <div class="form-group">
                                    <label >预约美发师：</label>
                                    <select name="barber">
                                        <?php foreach($rows as $row):?>
                                        <option value="<?php echo $row['member_id']?>"><?php echo $row['username']?></option>
                                        <?php endForeach;?>
                                   </select>
                                </div>
                                <div class="form-group">
                                    <label >预约时间：</label>
                                    <input type="date" class="form-control" name="date">
                                </div>
                                <div class="form-group">
                                    <label >填写你需要的服务：</label>
                                    <script id="container" name="content" type="text/plain">
        这里写你需要的服务
    </script>
                                    <!-- 配置文件 -->
                                    <script type="text/javascript" src="./Public/Admin/utf8-php/ueditor.config.js"></script>
                                    <!-- 编辑器源码文件 -->
                                    <script type="text/javascript" src="./Public/Admin/utf8-php/ueditor.all.js"></script>
                                    <!-- 实例化编辑器 -->
                                    <script type="text/javascript">
                                        var ue = UE.getEditor('container');
                                    </script>
                                    </div>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>

                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
    <!-- main content end-->
</section>


</body>
</html>