<?php
include ('./header.html');
?>
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                管理首页
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">管理后台</a>
                </li>
                <li class="active"> 管理首页 </li>
            </ul>
        </div>
        <!-- page heading end-->

    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="./Public/Admin/js/jquery-1.10.2.min.js"></script>
<script src="./Public/Admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="./Public/Admin/js/bootstrap.min.js"></script>
<script src="./Public/Admin/js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="./Public/Admin/js/scripts.js"></script>

</body>
</html>
