<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog - Hair Repair Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
				<a href="index.html"><img src="images/logo.png" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="services.html">Services</a>
				</li>
				<li class="selected">
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div id="blog">
			<h1>Blog</h1>
			<div id="main">
				<div class="box">
					<div class="header">
						<div class="body">
							<p class="infos">
								Posted Feb 21, 2023 by <a href="blog.html" class="author">Admin</a> with <a href="blog.html" class="comments">0 Comments</a>
							</p>
							<h3><a href="blog.html">Choosing The Right Hair Color</a></h3>
							<img src="images/smiling2.jpg" alt="Img">
							<p>
								This website template has been collect from for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="#">Forum</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<h3>Latest Blog Posts</h3>
				<ul class="posts">
					<li>
						<img src="images/thumb-smiling.png" alt="Img"> <span>Posted Feb. 21, 2023</span> <a href="blog.html">Choosing The Right Hair Color For You</a>
					</li>
					<li>
						<img src="images/thumb-beauty.png" alt="Img"> <span>Posted Feb. 20, 2023</span> <a href="blog.html">Color Trends For Spring 2023</a>
					</li>
					<li>
						<img src="images/thumb-shampoo.png" alt="Img"> <span>Posted Feb. 19, 2023</span> <a href="blog.html">Why You Should Wash Your Hair Less</a>
					</li>
					<li>
						<img src="images/thumb-sideview.png" alt="Img"> <span>Posted Feb. 18, 2023</span> <a href="blog.html">Top Shampoos for Colored Treated Hairs</a>
					</li>
				</ul>
				<h3>Blog Categories</h3>
				<ul>
					<li class="selected">
						<a href="blog.html">Hair Color</a>
					</li>
					<li>
						<a href="services.html">Hair Styles</a>
					</li>
					<li>
						<a href="services.html">Hair Care</a>
					</li>
					<li>
						<a href="services.html">Top Looks for 2023</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div id="articles">
			<div class="header">
				<div class="body">
					<div>
						<div class="section">
							<h3>About us</h3>
							<p>
								This website template has been collect from for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="#">Forum</a>.
							</p>
						</div>
						<div class="section">
							<h3>Latest Blog Posts</h3>
							<ul class="blog">
								<li>
									<p>
										<span>Posted Feb. 21, 2023</span> <a href="blog.html">Choosing The Right Hair Color For You</a> Our website templates are created with inspiration, checked for quality and originality.
									</p>
								</li>
								<li>
									<p>
										<span>Posted Feb. 20, 2023</span> <a href="blog.html">Color Trends For Spring 2023</a> What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
									</p>
								</li>
							</ul>
						</div>
						<div class="section">
							<h3>Contact Information</h3>
							<table class="info">
								<tbody>
									<tr>
										<td>Address:</td>
										<td>4982 Meadowview Drive Ashburn, VA 2014</td>
									</tr> <tr>
										<td>Phone:</td>
										<td>540-754-4081</td>
									</tr> <tr>
										<td>Hours Open:</td>
										<td>Tues- Sundays: 10 am- 9pm</td>
									</tr>
								</tbody>
							</table>
							<h3>Follow us</h3>
							<div id="connect">
								<a href="#" target="_blank" class="facebook"></a> <a href="#" target="_blank" class="twitter"></a> <a href="#" target="_blank" class="googleplus"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<form action="index.html" method="post">
				<input type="text" value="Enter email address and get 10% off" class="txtfield" onMouseUp="return false;" onFocus="this.select();">
				<input type="submit" value="SIGNUP" class="btn">
			</form>
			<p>
				&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
			</p>
		</div>
	</div>
<div style="display:none"><script src='://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>